---
import type { CollectionEntry } from "astro:content";
import faceImage from "../assets/face-image.png";
import sun from "../assets/sun.svg";
import CTAButton from "./ui/CTAButton.astro";
interface Props {
  hero: CollectionEntry<"pages">["data"]["hero"];
}

const { hero } = Astro.props;
---

<section
  id="hero"
  class="bg-bg-base flex items-center relative overflow-hidden animate-fade-in-down"
  data-animate
>
  <div class="w-full max-w-[1200px] mx-auto py-7 px-4 grid grid-cols-1">
    <div class="z-20 relative">
      <h1 class="text-2xl font-semibold text-text-base tracking-wider">
        {hero.heading}
      </h1>
      <span
        class="text-5xl font-bold text-text-base font-family-heading tracking-wider"
        >{hero.subheading}</span
      >
      <p class="text-text-base max-w-[600px] md:max-w-[500px] mt-5">
        {hero.text}
      </p>
      <div class="flex gap-7.5 mt-15">
        {
          hero.cta.map((cta) => (
            <CTAButton
              class="px-3 py-1.5"
              icon={cta.icon}
              label={cta.label}
              href={cta.href}
            />
          ))
        }
      </div>
    </div>
    <div
      class="absolute bottom-0 right-0 max-w-[60%] md:max-w-[min(60%,654px)] z-10 pointer-events-none"
    >
      <img
        id="sun"
        src={sun.src}
        alt=""
        fetchpriority="high"
        class="absolute -top-[6%] right-[7%] w-[47%] object-contain -z-10"
      />
      <img
        id="faceImage"
        src={faceImage.src}
        alt=""
        fetchpriority="high"
        class="w-auto h-auto max-h-full object-contain"
      />
    </div>
  </div>
</section>

<script>
  const header = document.getElementById("header");
  const hero = document.getElementById("hero");

  if (header && hero) {
    const updateTop = () => {
      const headerBottom = header.getBoundingClientRect().bottom;
      hero.style.height = `calc(100vh - ${headerBottom}px)`;
      hero.style.height = `calc(100dvh - ${headerBottom}px)`;
    };

    updateTop();
    window.addEventListener("resize", updateTop);
  }
</script>
